<div class="row">
  <form id="logInForm" action="<%= session_url %>" class="col-xs-4" method="POST">
    <%= fat_adder %>
    
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username">
      
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="row">
      <button class="btn btn-primary col-xs-12">Log in</button>
    </div>
  </form>

  <form id="guestAccountSignIn" class="pull-left col-xs-12" action="<%= guest_account_url %>" method="POST">
    <%= fat_adder %>
    
    <div class="row">
      <button class="btn btn-default col-xs-4">Log in as Guest</button>
    </div>
  </form>
</div>
