<h1>Log in</h1>

<form action="<%= session_url %>" method="POST">
  <%= fat_adder %>
  
  <label>Username
    <input type="text" name="username">
  </label>
  
  <label>Password
    <input type="password" name="password">
  </label>
  
  <input type="submit" value="Log in">
</form>