<h1>Notebooks</h1>
<div class="list-group">
  <% _(notebooks).each(function (notebook) { %>
    <a class="list-group-item" href="#/notebooks/<%= notebook.escape('id') %>">
      <%= notebook.escape("title") %>
    </a>
  <% }) %>
</div>
<div class="form"></div>