<h1>Notebooks</h1>
<ul>
  <% _(notebooks).each(function (notebook) { %>
    <li>
      <a href="#/notebooks/<%= notebook.escape('id') %>">
        <%= notebook.escape("title") %>
      </a>
    </li>
  <% }) %>
</ul>