<h1><%= notebook.escape("title") %></h1>
<h2>Sort By:</h2>
<ul class="sort">
  <li><button class="by" data-sort="title">Title</button></li>
  <li><button class="by" data-sort="created_at">Created On</button></li>
  <li><button class="by" data-sort="updated_at">Last Update</button></li>
</ul>
<div class="list-group notes-list"></div>
<div class="newNoteForm"></div>