<h1>Notes</h1>
<ul class="list-group">
  <% _(notes).each(function (note) { %>
    <li class="list-group-item">
      <a href="#/notebooks/<%= notebookId %>/notes/<%= note.escape('id') %>">
        <%= note.escape("title") %>
      </a>
    </li>
  <% }) %>
</ul>
<div class="newNoteForm"></div>