<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="leftSidebar col-xs-3">
        <div class="notebooks"></div>
      </div>

      <div class="notes col-xs-3"></div>
      <div class="noteEditor col-xs-5" id="noteEditor"></div>
    </div>
  </div>
</div>

<script>
$(function(){
  Evernote.initialize($(".notebooks"), $(".notes"), $(".noteEditor"));
});
</script>