<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <label>Search
          <input type="text" id="search">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="leftSidebar col-xs-3">
        <div class="notebooks"></div>
        <div class="tags"></div>
      </div>

      <div class="notes col-xs-3"></div>
      <div class="noteView col-xs-6"></div>
    </div>
  </div>
</div>

<script type="javascript/data" id="bootstrapped-data">
<%= render(partial: "api/bootstrapping.json.jbuilder",
           locals: { notebooks: @notebooks, taggings: @taggings }).html_safe %>
</script>

<script>
$(function(){
  Evernote.initialize(
    $(".notebooks"),
    $(".notes"),
    $(".noteView"),
    $(".tags"),
    $("#bootstrapped-data"),
    $("#search")
  );
});
</script>