<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="leftSidebar col-xs-3">
        <div class="notebooks"></div>
      </div>

      <div class="notes col-xs-3"></div>
      <div class="noteView col-xs-5">
        <h1 id="noteShowTitle"></h1>
        <div class="pull-right">
          <button class="save btn btn-primary">Save</button>
          <button class="delete btn btn-danger">Delete</button>
        </div>
        <div id="epiceditor"></div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  Evernote.initialize($(".notebooks"), $(".notes"), $(".noteView"));
});
</script>