<h1>Notes</h1>

<div>
  <div class="leftSidebar">
    <div class="notebooks"></div>
  </div>

  <div class="notes"></div>
  <div class="noteEditor"></div>
</div>
<script>
$(function(){
  Evernote.initialize($(".notebooks"), $(".notes"), $(".noteEditor"));
});
</script>