<% content_for :body do %>
  <body id="home">
<% end %>
<div class="row">
  <h1 class="col-xs-6">
    An Evernote Clone using a markdown editor with tagging, sharing, and auto saving.
  </h1 class="col-xs-6">
</div>
<h2 class="login-text">Log in</h2>
<%= render "sessions/form" %>
