<div class="btn-group">
  <a class="note-item btn btn-default <%= makeActive %>" href="#/notebooks/<%= note.escape('notebook_id') %>/notes/<%= note.escape('id') %>">
    <%= note.escape("title") %>
  </a>
</div>