<% if (shareURL) { %>
  Share URL: <a id="shareUrl" href="/sharings/<%= shareURL %>" target="_blank">
    /sharings/<%= shareURL %>
  </a>
  <button class="unShare btn btn-danger pull-right">
    <i class="fa fa-unlink"></i> Make Private
  </button>
<% } else { %>
  <button class="share btn btn-default pull-right">
    <i class="fa fa-link"></i> Create Share Url
  </button>
<% } %>