<h1 id="noteShowTitle"><%= note.escape("title") %></h1>
<div class="pull-right">
  <button class="save btn btn-primary">Save</button>
  <button class="delete btn btn-danger">Delete</button>
</div>
<div id="epiceditor"></div>