<div id="noteShowTitle"></div>
<div class="pull-right">
  <button class="save btn btn-primary">Save</button>
  <button class="delete btn btn-danger">Delete</button>
</div>
<div id="epiceditor"></div>
<div class="tagContainer">
  <i class="fa fa-tags"></i>
  <div class="tags"></div>
  <div class="tagsNew"></div>
</div>
<div class="shareUrlContainer"></div>