<div id="noteShowTitle"></div>
<div class="pull-right">
  <button class="save btn btn-primary">
    <i class="fa fa-floppy-o"></i> Save
  </button>
  <button class="delete btn btn-danger">
    <i class="fa fa-eraser"></i> Delete
  </button>
</div>
<div id="epiceditor"></div>
<div class="tagContainer">
  <i class="fa fa-tags"></i>
  <div class="tags"></div>
  <div class="tagsNew"></div>
</div>
<div class="shareUrlContainer"></div>