<div id="noteShowTitle"></div>
<div class="pull-right">
  <button class="save btn btn-primary">Save</button>
  <button class="delete btn btn-danger">Delete</button>
</div>
<div class="tags"></div>
<div id="epiceditor"></div>