body {
  background-color: #FFFBFA;
  font-family: "Raleway";
}

#home, #signIn, #signUp {
  background: url("//res.cloudinary.com/brian/image/upload/v1410452104/paper_sub8mo.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color:#eee;
}

#guestAccountSignIn {
  margin-top: 6px
}
