body {
  background-color: #FFFBFA;
  font-family: "Raleway";
}

#home, #signIn, #signUp {
  background: image-url("paper.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color:#eee;
}
