.editTitle {
  display: none;
}

.noteButtons {
  margin-top: 26px;
}

#noteShowTitle:hover .editTitle {
  display: inline-block;
}

.noteTitle, #noteShowTitle {
  display: inline-block;
}

#noteShowTitle #newTitle {
  margin-top: 40px;
  margin-bottom: 4px;
}

.notes-list .btn-group, .note-item {
  width: 100%;
}

.note-item {
  padding-top: 9px;
  padding-bottom: 9px;
}

#saveStatus {
  border: 3px solid transparent;
  -moz-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}

#saveStatus.edited {
  border-color: #c9302c;
}

#saveStatus.saved {
  border-color: #5cb85c;
}
