.tagContainer {
  margin-top: 6px;
}

.tag {
  background-color: #ccc;
  padding: 3px 6px;
  border-radius: 10px;
  margin-right: 3px;
}

.tagDelete {
  display: none;
}

.tag:hover .tagDelete {
  display: inline-block;
}

.tags, .tagsNew .tagForm, .tagsNew {
  display: inline-block;
}

.tagsNew .tagName {
  border-radius: 9px;
  background-color: #ccc;
  border: none;
  width: 20px;
  text-align: center;
  padding: 3px;
  margin-left: -15px;
  height: 22px;
  -webkit-transition:width 0.5s;
     -moz-transition:width 0.5s;
       -o-transition:width 0.5s;
          transition:width 0.5s;
}

.tagTextGoAway {
  color: #ccc;
}

.tagsNew .tagNameExpanded {
  outline: 0;
  padding-left: 6px;
  padding-right: 6px;
  width: 50px;
  text-align: left;
  margin-left:0;
}

form.tagForm.fa.fa-plus::before {
  position: relative;
  z-index: 10;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

.list-tags {
  padding-left: 14px;
}

.list-tag {
  display: block;
}

.list-tag a {
  padding-left: 3px;
}