<% if current_user %>
  <li><%= button_to "Sign Out: " + current_user.username,
                session_url,
                method: :delete,
                class: "btn btn-danger navbar-btn" %></li>
<% else %>
  <li>
    <form>
      <a href="<%= new_session_url %>" class="btn btn-primary navbar-btn">
        Log In
      </a>
    </form>
  </li>
  
  <li>
    <form>
      <a href="<%= new_user_url %>" class="btn btn-primary navbar-btn">
        Sign Up
      </a>
    </form>
  </li>
<% end %>
