<% if current_user %>
  <li><%= button_to "Sign Out",
                session_url,
                method: :delete,
                class: "btn btn-danger navbar-btn" %></li>
<% else %>
  <li><%= link_to "Sign In",
          new_session_url,
          class: "btn btn-primary navbar-btn" %></li>
  <li><%= link_to "Sign Up",
          new_user_url,
          class: "btn btn-primary navbar-btn" %></li>
<% end %>